:root {
    --black: #232323;
    --black2: #18161b;
    --dark-grey: #484848;
    --white: #f9f9f9;
    --blue: #67a3f8;
    --cyan: #0fe4e7;
    --purple: #5c1eab;
}

* {
    font-family: 'Noto Sans', sans-serif;
    /* font-size: 1.4rem; */
    font-weight: 400;
    color: var(--white);
}

body {
    width: 100vw;
    background-color: var(--black2)
}

/* Background Images */

.bg-img {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    /* position du bg pour anim: */
    right: -12rem;
}

/* SETTING DU MAIN GRID */
section.main-section {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr 30rem;
    grid-template-rows: 7rem 3fr 2fr;
    gap: 1rem;
    padding-inline: 3rem;
    padding-bottom: 1.5rem;
    overflow: hidden;
}

aside,
section.sending-section,
section.features-section,
section.feed-section {
    border-radius: 15px;
    background-color: #23232399;
}

.main-header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

aside.main-aside {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

section.features-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #23232300;
}

section.sending-section {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}


section.feed-section {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

/* SETTING DU HEADER */
header {
    width: 100%;
    height: 7rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* logo */
.logo-nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.logo-nav img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

h1 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    font-style: italic;
}

/* navbar */
ul.navbar {
    display: flex;
    gap: 1rem;
}

a.nav-link {
    padding: .5rem 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    background-color: #f9f9f930;
    border-radius: 20px;
    font-size: 1rem;
    transition: .3s;
}

a.nav-link:hover {
    border-radius: 10px;
    color: var(--black);
    background-color: #f9f9f980;
}



/* SETTING DE L'ASIDE */
aside.main-aside {
    display: grid;
    grid-template-rows: 5rem 2rem 1fr 3rem;
    background-color: #23232380;
}

.title-aside {
    margin-top: .4rem;
    padding-inline: 2rem;
}

.title-aside h3 {
    font-weight: 700;
    font-size: 1.8rem;

}

.title-aside p {
    font-weight: 300;
    font-size: 1.5;
    padding-left: 1.5rem;
    position: relative;
}


.title-aside p::before {
    content: '';
    width: .5rem;
    height: .5rem;
    position: absolute;
    left: .5rem;
    top: .5rem;
    border-radius: 50%;
    background-color: green;
}


/* groupe de boutton aside */
ul.navbar-aside {
    display: flex;
    justify-self: end;
    align-items: center;
    border-radius: 20px;
    margin-inline: 1rem;
    background-color: #48484875;
}

li.nav-btn-aside {
    padding: .5rem 1rem;
    color: #f9f9f9;
}

/* liste d'amis */
ul.all-friends {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-height: 100%;
    overflow: auto;
}

li.friend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    padding: 1rem 1rem;
    background-color: #48484875;
}

img.pp-friend {
    width: 1.4rem;
    height: 1.4rem;
}

.text-friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 500;
    line-height: 1;
    margin-left: 1rem;
}

.text-friend span{
    font-size: 1rem;
    font-weight: 300;
    position: relative;
    padding-left: 1.5rem;
}

.text-friend span::before{
        content: '';
        width: .5rem;
        height: .5rem;
        position: absolute;
        left: .5rem;
        top: .4rem;
        border-radius: 50%;
        background-color: rgba(153,255,71,1);
}

.text-friend.offline span::before{
        content: '';
        background-color: rgb(186, 0, 0);
}

.main-mp {
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: #484848;
    border-radius: 50px;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
    overflow: hidden;
}

button.btn-send-mp {
    background-color: #48484875;
    border-radius: 50px 0 0 50px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

button.btn-send-mp:hover {
    background-color: #232323;
}

figure.btn-status {
    width: 4rem;
    height: 3rem;
    background: linear-gradient(245deg, rgba(82,155,41,1) 0%, rgba(153,255,71,1) 100%);
    margin: auto;
    cursor: pointer;
    transition: .2s;
}
figure.btn-status:hover {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    scale: 1.3;
}



/* SETTING DES FEATURES */
ul.main-container-features {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
}

li.container-features {
    border-radius: 15px;
    padding: 1.5rem;
    background-color: #232323;
}

.title-features {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.famous-user {
    text-align: center;
    padding-top: 2.5rem;
    position: relative;
}

.famous-user::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    /* background-color: #0fe4e7; */
    background-image: url(../img/medal-solid.svg);
}

/* SETTING DE L'INPUT */
section.sending-section {
    display: grid;
    grid-template-rows: 2.5rem 1fr 3rem;
}

#pseudoInput {
    background-color: #49494950;
    border-radius: 15px 15px 0 0;
    padding-inline: 1rem;
    font-weight: 600;
    text-align: center;
}

#textInput {
    font-weight: 300;
    background-color: #49494950;
    resize: none;
    overflow: auto;
    padding: .4rem 1rem;
}

#pseudoInput:active,
#pseudoInput:focus,
#textInput:active,
#textInput:focus {
    background-color: #f9f9f920;
    resize: none;
    overflow: auto;
}

.send-btn {
    background-color: #49494950;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
    font-weight: 700;
    
}
.send-btn:hover {
    background-color: #49494920;
}


/* SETTING DU FEED */
.main-feed {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

}

.feed-container {
    border-radius: 15px;
    margin: .2rem .5rem;
    background-color: #232323;
}

.user-container {
    display: flex;
    align-items: center;
}

.user-container img.pp-friend {
    width: 1.4rem;
    height: 1.4rem;
    margin: 1rem;
    border-radius: 5px;
}

.name-author {
    font-weight: 500;
    font-size: 1rem;
}

.text-author {
    font-weight: 300;
    font-size: 1rem;
    padding: 0 1rem 1rem;
}


ul.icons-post {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 0;
    background-color: #f9f9f920;
    transition: .4s;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}

.feed-container:hover ul.icons-post {
    height: 3rem;
}

.emote {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    display: none;
    opacity: 0;
    transition: .2s;
    border-radius: 5px;
    cursor: pointer;
}

.feed-container:hover .emote {
    display: block;
    opacity: 1;
}

.emote:hover {
    scale: 1.3;
}
