:root {
    --black: #232323;
    --black2: #18161b;
    --dark-grey: #484848;
    --white: #f9f9f9;
    --blue: #67a3f8;
    --cyan: #0fe4e7;
    --purple: #5c1eab;
}

* {
    font-family: 'Noto Sans', sans-serif;
    /* font-size: 1.4rem; */
    font-weight: 400;
    color: var(--white);
}

body {
    width: 100vw;
    background-color: var(--black2)
}

/* Background Images */

.bg-img {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    /* position du bg pour anim: */
    right: -12rem;
}

/* SETTING DU MAIN GRID */
section.main-section {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr 30rem;
    grid-template-rows: 7rem 3fr 2fr;
    gap: 1rem;
    padding-inline: 3rem;
    padding-bottom: 1.5rem;
    overflow: hidden;
}

aside,
section.sending-section,
section.features-section,
section.feed-section {
    border-radius: 15px;
}

.main-header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

aside.main-aside {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: #23232350;
}

section.features-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(84, 21, 152);
}

section.sending-section {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}


section.feed-section {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    background-color: #23232399;
}

/* SETTING DU HEADER */
header {
    width: 100%;
    height: 7rem;
    padding-inline: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo-nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.logo-nav img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

h1 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    font-style: italic;
}

/* navbar */
ul.navbar {
    display: flex;
    gap: 1rem;
}

a.nav-link {
    padding: .5rem 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    background-color: #f9f9f930;
    border-radius: 20px;
    font-size: 1rem;
}

a.nav-link:hover {
    color: var(--black);
    background-color: #f9f9f980;
}



/* SETTING DE L'ASIDE */
aside.main-aside {
    display: grid;
    grid-template-rows: 5rem 2rem 1fr 3rem;
    background-color: #23232380;
}

.title-aside {
    margin-top: .4rem;
    padding-inline: 2rem;
}

.title-aside h3 {
    font-weight: 700;
    font-size: 1.8rem;

}

.title-aside p {
    font-weight: 300;
    font-size: 1.5;
    padding-left: 1.5rem;
}

/* groupe de boutton aside */
ul.navbar-aside {
    display: flex;
    justify-self: end;
    align-items: center;
    border-radius: 20px;
    margin-inline: 1rem;
    background-color: #48484875;
}

li.nav-btn-aside {
    padding: .5rem 1rem;
    color: #f9f9f9;
}

/* liste d'amis */
ul.all-friends {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-height: 100%;
    overflow: auto;
}

li.friend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    padding: .2rem 1rem;
    background-color: #48484875;
}

img.pp-friend {
    width: 1.4rem;
    height: 1.4rem;
}

.text-friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1;
    margin-inline: 2rem 1rem;
}

.text-friend span{
    font-size: 1rem;
    font-weight: 300;
}

.btn-chat-friend {
    background-image: url(../src/assets/comment-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 3rem;
    height: 3rem;
}

.main-mp {
    /* position: absolute; */
    /* bottom: 0; */
    display: grid;
    grid-template-columns: 5fr 1fr;
}

button.btn-send-mp {
    background-color: #48484875;
    border-radius: 0 0 0 15px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    border: none;
    outline: none;
}

/* SETTING DE L'INPUT */
section.sending-section {
    display: grid;
    grid-template-rows: 2.5rem 1fr 3rem;
}

#pseudoInput {
    background-color: #49494950;
    border-radius: 15px 15px 0 0;
}

#textInput {
    background-color: #49494950;
    resize: none;
    overflow: auto;
}

#pseudoInput:active,
#pseudoInput:focus,
#textInput:active,
#textInput:focus {
    background-color: #f9f9f920;
    resize: none;
    overflow: auto;
}

.send-btn {
    background-color: #49494950;
    border-radius: 0 0 15px 15px;
    
}


/* SETTING DU FEED */

.feed-section {
    overflow-x: auto;
}

.main-feed {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
}

.feed-container {
    border-radius: 15px;
    margin: .2rem .5rem;
    background-color: #232323;
}

.user-container {
    display: flex;
    align-items: center;
}

.user-container img.pp-friend {
    width: 1.4rem;
    height: 1.4rem;
    margin: 1rem;
    border-radius: 5px;
}

.name-author {
    font-weight: 500;
    font-size: 1rem;
}

.text-author {
    font-weight: 300;
    font-size: 1rem;
    padding: 0 1rem 1rem;
}


ul.icons-post {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 0;
    background-color: #f9f9f920;
    transition: .4s;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}

/* .feed-container:hover ul.icons-post {
    height: 3rem;
} */

.emote {
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
    display: none;
    opacity: 0;
    transition: .2s;
    border-radius: 5px;
}

.feed-container:hover .emote {
    display: block;
    opacity: 1;
}

.emote:hover {
    scale: 1.1;
}